@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.hero-image {
    background: url(GraduationCap.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#main {
background-image: url("https://www.joinusonline.net/pub/media/catalog/product/p/t/pts-197_gradien_blue.jpg");
background-size: cover;
background-repeat: x-repeat;
background-position: center;
color: blue;
height: 500px;
}

h1 {
text-align: center;

}
ul.navbar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: gray;
position: fixed;
width: 100%;
top: 0;
transition: .2s;
}

ul.navbar li {
float: left;
}

ul.navbar #about {
    float: right;
}

ul.navbar li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 26px;
 text-decoration: none;
 font-family: "Righteous";

}

.imglinks {
    height: 100px;
    width: 100px;
}

ul.navbar li a:hover {
 color: #333;
}


div {
color: red;
}